{% extends 'base/base.html'%}
{%block content%}
<style>
  .bg-light{
    background: #23DF18;
    background: -moz-linear-gradient(left, #23DF18 0%, #110290 50%, #C54017 100%);
    background: -webkit-linear-gradient(left, #23DF18 0%, #110290 50%, #C54017 100%);
    background: linear-gradient(to right, #23DF18 0%, #110290 50%, #C54017 100%);
}
body {
  overflow-x: hidden;
}

</style>
<nav class="navbar fixed-top navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">Evan's PortFolio Welcome</a>
  </div>
</nav>
<br> <br>
<div class="container">
    <br>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-body" id="profile-wrapper">
                <img id="profile-pic" src="https://scontent-mba1-1.xx.fbcdn.net/v/t39.30808-6/240721816_557953238586864_5850842178903416705_n.jpg?_nc_cat=100&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeHkjYlrZGZ5UBFMTZVn99KSjPVrik0kSpeM9WuKTSRKl4r14nJ2TWHgJLbLe-mzm-4z1kw4uQ7PX1qKhy0IdNLP&_nc_ohc=MrfUpwNMvv4AX9ucyAS&_nc_ht=scontent-mba1-1.xx&oh=00_AT8Ckp7CnmkTAf3PbxBfZA6_U4nX85H1e8SdoObgMjWMtQ&oe=61D9D274" alt="loading">
                <hr>
                <h4>Dev Kim</h4>
                <p>Full stack developer</p>
                <span class="badge rounded-pill bg-danger">Ready and Set to Code</span>
            </div>
        </div>
        <br>
        <div class="col-md-9">
            <div class="card card-body">
                <h4>Fun Developer Facts</h4>
                <hr>
                <p>Software developers spend more time learning as compared to others
                  Software engineers have a higher rate of learning than other professions. This makes sense because, while change is rapid in all industries, it is swift in the ever-changing technology field.
                  
                  Software developers reported learning a new skill 48 % of the time, compared to 36 % of all professionals. They often spend more time on LinkedIn, with 45 % having recently updated their profile, compared to 32 % of the general population.</p>
                <ul class="social-links">
                    <li><a href="https://www.facebook.com/malcom.kim.35"><i class="bi bi-facebook"></i></a></li>
                    <li><a href="https://web.whatsapp.com/"><i class="bi bi-whatsapp"></i></a></li>
                    <li><a href="https://www.instagram.com/ma.lcom1347/"><i class="bi bi-instagram"></i></a></li>
                    <li><a href="https://twitter.com/@EvanKimani19"><i class="bi bi-twitter"></i></a></li>
                    <li><a href="https://github.com/Evan-cell"><i class="bi bi-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <style>
      .bi-github{
        color: black;
      }
      .bi-instagram{
        color: red;
      }
      .bi-whatsapp{
        color: rgb(0, 238, 0);
      }
    </style>
    <br>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h4>My Experience as a developer</h4>
                <hr>
                <h5>Javascript</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
                  </div>
                  <hr>
                  <h5>Django</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 80%;" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                  </div>
                  <hr>
                  <h5>Flask</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 79%;" aria-valuenow="79" aria-valuemin="0" aria-valuemax="100">79%</div>
                  </div>
                  <hr>
                  <h5>React</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 90%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">90%</div>
                  </div>
                  <hr>
                  <h5>Angular</h5>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 83%;" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100">83%</div>
                  </div>
                  
            </div>
        </div>
        <br>
        <div class="col-md-6">
            <div class="card card-body">
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img src="https://images.unsplash.com/photo-1555949963-ff9fe0c870eb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNvZGluZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1555066931-4365d14bab8c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
                      </div>
                      <div class="carousel-item">
                        <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8Y29kaW5nfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60" class="d-block w-100" alt="...">
                      </div>
                    </div>
                    <h5>Developer Motivation</h5>
                    <hr>
                    <p>If you want to learn JavaScript, make this thing your number one priority. Every day you must read a few pages of your favorite JavaScript book or work on both personal or open-source projects that rely on JavaScript.

                      Things don’t always go as planned but no matter what happens, you have to make steady progress everyday.
                      
                      Some days you’ll wake up not being able to write code or being stuck in a chapter in a book. But don’t worry. These things happen to everyone and there are other ways to compensate for the lack of practice.</p>
                  </div>
            </div>
        </div>
    </div>
    <br>
    
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h4>Programming</h4>
                <hr>
                <p>An experienced software developer specializing in web applications and mobile applications. Have done numerous projects involving frront and back end development.</p>
                <h4>Contact</h4>
                <hr>
                <p>Phone <span>+254793511825</span></p>
                <p>Email <span>malcomchege0582@gmail.com</span></p>
            </div>
        </div>
        <div class="col-md-6 mb-3">
            <div class="card card-body">
                <h4>My Youtube lessons</h4>
                <hr>
                <p>Giving back to the community</p>
                <section class="">
                    <div class="row d-flex justify-content-center">
                      <div class="col-lg-12">
                        <div class="ratio ratio-16x9">
                          <iframe
                            class="shadow-1-strong rounded"
                            width="640" height="360" src="https://www.youtube.com/embed/sHYQqXySdBQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                           </iframe>
                        </div>
                      </div>
                    </div>
                  </section>
            </div>
        </div>
    </div>
</div>
<br>
<h3 class="text-white text-center">Some of my projects</h3>
<div class="row">
  <div class="col-md-4 p-2">
    <div class="card card-body">
      <img src="https://media-exp1.licdn.com/dms/image/C4D22AQFgaBDHVFxOlg/feedshare-shrink_800/0/1641381367324?e=1644451200&v=beta&t=f6x_cvrBo1oM--gbPnRX4TgXq7Q0-m8kwO5cB5TGdcM" alt="">
      <br>
      <span class="badge rounded-pill bg-warning text-dark">Instagram clone</span>
      <a class="p-2" href="https://github.com/Evan-cell/instagram"><button class="btn btn-info">Project link</button></a>
    </div>
  </div>
  <div class="col-md-4 p-2">
    <div class="card card-body">
      <img src="https://media-exp1.licdn.com/dms/image/C4D22AQHUrIMHfk5qNQ/feedshare-shrink_800/0/1641381297711?e=1644451200&v=beta&t=V5-2BKIlHvOf6bQwZbssrPCkLlFkNaZZQghf5oq7KOA" alt="">
      <br>
      <span class="badge bg-warning rounded-pill text-dark">Awwards</span>
      <a class="p-2" href="https://github.com/Evan-cell/awwards"><button class="btn btn-info">Project link</button></a>
    </div>
  </div>
  <div class="col-md-4 p-2">
    <div class="card card-body">
      <img src="https://media-exp1.licdn.com/dms/image/C4D22AQFeJHBnAmaWIw/feedshare-shrink_800/0/1641381421273?e=1644451200&v=beta&t=eMw-k2kW8aXjEKLA1zuPaggu6PkNmPTlcrnvH2lKKQE" alt="">
      <br>
      <span class="badge bg-warning rounded-pill text-dark">Pitches</span>
      <a class="p-2" href="https://github.com/Evan-cell/pitch-quotes"><button class="btn btn-info">Project link</button></a>
    </div>
  </div>
  <div class="col-md-4 p-2">
    <div class="card card-body">
      <img src="https://media-exp1.licdn.com/dms/image/C4D22AQEvEXofywndXQ/feedshare-shrink_800/0/1641381478612?e=1644451200&v=beta&t=JSV7VspnWLZmOCLkELnd452lgog3TbQolODw0WrV2Oc" alt="">
      <br>
      <span class="badge rounded-pill bg-warning text-dark">Goals</span>
      <a class="p-2" href="https://github.com/Evan-cell/goals"><button class="btn btn-info">Project link</button></a>
    </div>
  </div>
  <div class="col-md-4 p-2">
    <div class="card card-body">
      <img src="https://media-exp1.licdn.com/dms/image/C4D22AQGrI40ZHJ_jxw/feedshare-shrink_800/0/1641391077441?e=1644451200&v=beta&t=scIAOjUmqADLnygoouYFs8vaGsq9tTNcxEsQ5syrdV4" alt="">
      <br>
      <span class="badge rounded-pill bg-warning text-dark">Quotes</span>
      <a class="p-2" href="https://github.com/Evan-cell/angular-quotes"><button class="btn btn-info">Project link</button></a>
    </div>
  </div>
</div>
<footer class="bg-warning text-center text-lg-start">
  <!-- Copyright -->
  <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
  </div>
  <!-- Copyright -->
</footer>
{%endblock%}